{{!-- {{#unless @member.paid}}
    <div class='mds-submenu-column mds-submenu-plans'>
        <p class='title'>Va encore plus loins grâce au club !</p>
        <ul>
            <li><a href='https://courses.mindsers.blog/checkout/membre-pro'>Pro
                    <span class='price'>14.99 € / mois</span></a></li>
            <li><a
                    href='https://courses.mindsers.blog/checkout/membre-premium'
                >Premium <span class='price'>98.99 € / mois</span></a>
            </li>
        </ul>
        <p><a class='more' href='https://courses.mindsers.blog/'>En savoir plus
                sur le club</a></p>
    </div>
{{/unless}} --}}