<div class='member-cta' lang='fr'>
    <h2>
        Rejoins
        {{total_members}}
        développeurs de notre liste de diffusion et sois reçois les articles
        directement dans ta boite mail.
    </h2>
    <p>
        <a href='#/portal/signup' class='button'>S'inscrire à la newsletter</a>
    </p>
    <p>Aucun spam. Désabonnes-toi en un seul clic à tout moment.</p>
</div>