<div class='thanks-cta' lang='en'>
    {{#has tag='#sponsored-post'}}
        <p>
            This post is free for all to read thanks to the investment our
            sponsor have made in our independent publication. Do you want to
            sponsor a post on
            {{@site.title}}? Please email me at
            <a
                href='mailto:hello@mindsers.blog'
                title='Sponsoring partnership on {{@site.title}}'
                rel='nofollow noreferrer'
            >hello@mindsers.blog</a>!
        </p>
    {{else}}
        <p>
            This post is free for all to read thanks to the investment
            <strong>Mindsers Courses</strong>
            members have made in our independent publication. If this work is
            meaningful to you, I invite you to
            <a href='https://courses.mindsers.blog/' title='Subscribe!'>
                join our courses
            </a>
            today.
        </p>
    {{/has}}
</div>